@media screen and ( max-width:1200px) {
   /* main */
    .main-content-section{
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        padding:  0 2rem;
    }
    .main-content-section .left-side img{
        height: 20rem;
        margin: 3rem auto;
    }
    .main-content-section .right-side {
        width: 100%;   
        text-align: center;
        margin-bottom: 3rem;
    }
    .main-content-section .right-side h3{
        font-size: 2rem;
    }
    .main-content-section .right-side h1{
        font-size: 3rem;
    }
    .main-content-section .right-side p{
        font-size: 1.2rem;
        width: 80%;
        margin: 1rem auto;
    }
    .main-content-section .right-side .container-btn{
        margin: auto;
        margin-top: 1rem;
    }
    .main-content-section .right-side .container-social{
        margin: auto;
        margin-bottom: 4rem;
    }

    .About-section,
    .Skills-section,
    .Projects-section,
    .Contact-section{
        height: 100vh;
    }
    /* About */
   .container-about{
        flex-direction: column;
        height: 90vh;
        position: relative;
        padding: 2rem 0;
    }
    .container-about img{
       width: 90%;
       height: 23rem;
    }
    .container-about .container-about-text{
      
       
    }
    .container-about .container-about-text h2, h3, h4, p{
        padding: 0;
        
    }
    .container-about .container-about-text h2{
        
    }
    .container-about .container-about-text h3{
      
    }
    .container-about .container-about-text h4{
        margin: -2rem 0 1rem 0;
    }
    .container-about .container-about-text .container-social  {

    }
    .container-about .container-about-text .container-social i {
        
    }
/* Skills */
    .container-skills{
        align-items: center;
    }
    .container-skills .container-skills-show {
        width: 90%;
        align-items: start;
        gap: 1rem;
    }
    .container-skills .container-skills-show i{
        font-size: 3rem;
    }
    .container-skills .container-description {
        width: 80%;
    }


}
@media screen and (max-width:992px) {
    .header-container .nav-container .nav-menu{
        position: absolute;
        right: -100%;
        top: 0;
    }
    .header-container .nav-container{
        justify-content: space-between;
        z-index: 10;
    }
    .header-container .nav-container .menu-lines{
        display: block;
    }

    .header-container .nav-container .menu-lines.active .bar:nth-last-child(1){
        width: 40px;
        transform: translateY(-.8rem) rotate(45deg);
        transition: .4s all;
        background-color: aquamarine;
        box-shadow:  0 0 1px 1px #000;
    }
    .header-container .nav-container .menu-lines.active .bar:nth-last-child(2){
        opacity: 0;
    }
    .header-container .nav-container .menu-lines.active .bar:nth-last-child(3){
        width: 40px;
        transform: translateY(.9rem) rotate(-45deg);
        transition: .4s all;
        box-shadow:  0 0 0 1px #000;
    }
    .header-container .nav-menu.active{
        position: fixed;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        right: 0;
        transition: .5s all;
    }
    .nav-container .nav-menu .iten-menu{
        margin-top: -12rem;
    }
    
    .container-about{
        flex-direction: column;
        height: 90vh;
        position: relative;
        padding: 2rem 0;
    }
    .container-about img{
       width: 90%;
       height: 23rem;
    }
    .container-about .container-about-text{
      
       
    }
    .container-about .container-about-text h2, h3, h4, p{
        padding: 0;
        
    }
    .container-about .container-about-text h2{
        font-size: 1.8rem;
    }
    .container-about .container-about-text h3{
        font-size: 1.1rem;
    }
    .container-about .container-about-text h4{
        margin: -2rem 0 1rem 0;
        font-size: 1.5rem;
    }
    .container-about .container-about-text p{
        font-size: 1rem;
    }
    
    .container-about .container-about-text .container-social i {
        font-size: 2.5rem;
    }
/* Skills */
    .container-skills{
        background-color: aqua;
        
    }
    .container-skills .container-skills-show {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
    }
    .container-skills .container-skills-show i{
        font-size: 2.5rem;
        
    }
    .container-skills .container-description {
        width: 80%;
    }

}
@media screen and (max-width:768px) {
    .container-skills{
        align-items: center;
        justify-content: center;
        
    }
    .container-skills .container-skills-show {
        width: 90%;
    }
    .container-skills .container-skills-show i{
        font-size: 2.5rem;
        
    }
    .container-skills .container-description {
        width: 80%;
    }
}
@media screen and (max-width:576px) {
    
}