*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: poppins, sans-serif;
    background-color: #333;
}
html {
    scroll-behavior: smooth;
  }
.header-container{
    display: flex;
    flex-direction: row;
}
.header-container .nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem ;
    box-shadow: 0 0 1rem #000;
    position: fixed;
    z-index: 10;
}

.nav-container ul{
    color: #fff;
    display: flex;
    width: 35rem;
    justify-content: space-around;
}

.nav-container ul li a{
    font-size: 1.2rem;
    gap: 1.5rem;
    cursor: pointer;
    transition: .2s all;
    text-shadow: 0  .1rem .2rem #000;
}
.nav-container a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.nav-container a:hover{
    transition: .2s all;
    color: aquamarine;
}

/* menu hamburguer */
.header-container .nav-container .menu-lines{
    position: absolute;
    z-index: 11;
    width: 45px;
    height: 35px;
    right: 6vw;
    top:30%;
    display: none;
}

.header-container .nav-container .menu-lines .bar{
    display: block;
    width: 45px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 11px;
    background-color: #fff;
    transition: .3s all;
    box-shadow:  0 0 1px 1px #000;
}
.header-container .nav-container .menu-lines .bar:nth-child(2){
    background-color: aquamarine;
}


/* <!-- main-section-info --> */
.main-content-section{
    height: 105vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.left-side img{
    border-radius: 50%;
    height:25rem;
    border: 6px solid aquamarine;
}

.main-content-section .right-side{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: .8rem;
    width: 30vw;
}

.main-content-section .right-side h3{
    font-size: 2rem;
    color: #fff;
}
.main-content-section .right-side span{
    color: aquamarine;
}
.main-content-section .right-side h1{
    font-size: 4rem;
    color: #fff;
}
.main-content-section .right-side p{
    width: min(50rem, 40vw);
    font-size: 1.3rem;
    color: #fff;
}
.right-side .container-btn{
    width: 30rem;
    margin: 1rem 0 1rem 0;
}
.right-side .container-btn button{
    color: #fff;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s all;
}
.right-side .container-btn .btn-cv{
    background-color: aquamarine;
    color: #333;
    filter: brightness(.9);
}
.right-side .container-btn .btn-cv:hover{
    background-color: aquamarine;
    color: #333;
    font-weight: bold;
    filter: brightness(1);
    transition: .2s all;
    box-shadow:  0 0 .1rem .1rem rgb(127, 232, 255);
}
.right-side .container-btn .btn-contact{
    color: aquamarine;
    filter: brightness(.9);
    transition: .2s all;
}
.right-side .container-btn .btn-contact:hover{
    color: aquamarine;
    filter: brightness(1);
    transition: .2s all;
    box-shadow:  0 0 .1rem .1rem aquamarine;
}


/* All sections */

.About-section,
.Skills-section,
.Projects-section,
.Contact-section{
    height: 100vh;
    margin: auto;
    /* clip-path: polygon( 
        0% 50%,
        100% 0%,
        100% calc(100% - 30%),
        10% 100%
      ); */
}

/* About section */
.About-section{
    background-color: #000000;
    height: 80vh;
    display: flex;
    
}
.container-about{
    width: 1150px;
    background-color: #191919;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin:  auto;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 0 4px 1px #313131;
}

.container-about img{
    height: 500px;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px #000;
}
.container-about .container-about-text{
    width: 100%;
    background-color: transparent;
    padding: 2rem 2rem;
    background-color: transparent;
    margin-top: 3rem;
}
.container-about .container-about-text ,h2, h3, h4 , p{
    background-color: transparent;
    text-shadow: 0 3px 1px #000;
}

.container-about .container-about-text h4{
    color: aquamarine;
    font-size: 1.7rem;
}

.container-about .container-about-text h2{
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.container-about .container-about-text h3{
    color: aquamarine;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.container-about .container-about-text p{
    font-size: 1.2rem;
    margin-top: 2rem ;
    color: #fff;
    line-height: 2rem;
}

.container-about .container-about-text .container-social{
    width: 100%;
    background-color: transparent;
    margin-top: 2rem;
}
.container-about .container-about-text .container-social i {
    font-size: 3rem;
    color: aquamarine;
    cursor: pointer;
    filter: brightness(.8);
    transition: .2s all;
    background-color: #1f1f1f;
    margin-right: 1rem;
    border: none;
    border-radius: 10px;
    padding: .8rem;
}

.container-about .container-about-text .container-social a{
    background-color: transparent;
    
}

.container-about .container-about-text .container-social i:hover{
    filter: brightness(1);
    box-shadow: 0 0 2px 2px aquamarine;
}
